# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# Excel / datasets
*.xlsx
*.xls
*.csv

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db